@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    color: #87583b;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-image: url(images/bg.png);
    background-color: #fbdee0;
}

.main-container {
    min-height: 100%;
    display: grid; 
    place-items: center;
}

.main-img {
    max-width: 300px;
    height: auto;
}

.index {
    margin-top: -20px;
    height: 100vh;
    overflow: hidden;
}

.content {
    text-align: left;
    border-radius: 20px;
    background-color: white;
    padding: 50px;
    font-size: 13px;
    line-height: 20px;
    min-width: 500px;
    max-width: 500px;
    height: auto;
}

.source {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 27px;
    text-align: center;
    margin: 15px 0 40px 0;
}

h2 {
    font-size: 17px;
    margin: auto;
}

ul {
    list-style-image: url(images/icon.png);
    list-style-position: inside;
    padding-left: 0;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    font-size: 14px;
}

ol li {
    line-height: 30px;
    font-weight: bold;
}

img {
    opacity: 85%;
    max-width: 475px;
    height: auto;
    display: block;
    margin: auto;
    padding: 15px 0px 15px 0px;
    border-radius: 50px;
}

.middle-img {
    display: inline-block;
    margin-left: -25px;
}

.ingredients-container {
    border: 2px dashed #f8b6a7;
    padding: 30px;
    margin: 50px 80px 50px 80px;
}

.ingredients {
    margin: auto;
}

.steps {
    margin: 50px 40px 50px 40px;
}

a {
    text-decoration: underline;
    color: #db7b66;
}

a:visited {
    text-decoration: none;
}